.container {
    display: flex;
    justify-content: center;
  }


body {
    background-image: url('../assets/images/flag.png');
}

#calendar {
    margin-top: 100px;
    margin-bottom: 50px;
}

#header h1{
    margin-top: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 60px;
    font-weight: bold;
    color: rgb(2, 36, 10);
  

}
    